body{
	margin:0;
	padding:0;
	font-family:'lato',sans-serif;
	background-color: darkgrey;
}
.login_conatiner{
	position:relative;
	height:100vh;

}
.avatar{
	width:100px;
	height:100px;
	position:absolute;	
	top: -9%;
    left: 40%;

}

.login_box{
	background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/login-bg-1.jpg");
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	height:500px;
	background-color:#91b4c6;
	background-size:cover;
	padding: 50px;
	border-radius:0;
	box-shadow:0 10px 85px ;
	z-index: 1;
}


.login_box h2{
	margin:0 0 30px;
	letter-spacing:10px;
	text-transform: uppercase;
	padding:0;
	font-size:40px;
	color:#fff;
	text-align: left;
}

.login_box .user_box{
	position: relative;
}

.login_box .user_box input{
	width:100%;
	padding:10px 0;
	font-size: 16px;
	color:#fff;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	outline: none;
	background-color: transparent;
	
}

.login_box .user_box label{
	position:absolute;
	top:0;
	left:0;
	padding:10px 0;
	font-size:16px;
	color:#fff;
	pointer-events:none;
	transition: 0.5s;

}

.login_box .user_box  input:focus ~ label,
.login_box .user_box  input:valid ~ label{
	top:-20px;
	color: #03e9ff;
	font-size:12px;
}
.btn-grad {
	background-image:  linear-gradient(to right, #412806 0%, #d57d09 51%, #bc761a 100%);
}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
   	font-weight: 700;
   	letter-spacing: 4px;            
    box-shadow: 0 0 5px transparent;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.login_box form a{
	text-decoration:none;
	font-size:15px;
	line-height:20px;
	color:#fff;
}
.login_box form a:hover{
	color:#ffc107;
}
/*------Footer Styling------*/
.footer-design{
	position: absolute;
	top: 87%;
}
.siteinfo{
	padding-top: 50px;
    text-align: center;
    letter-spacing: 3px;
}
.siteinfo p{
	color: #fff;
	line-height: 1.6;
}
.siteinfo a{
	text-decoration: none;
	color:#fff;
}
.footer-design{
	background-color:#111;
	height: 250px;
	width: 100%;
}
.footer-menu{
	text-align: center;
}
.footer-menu li a{
	text-decoration: none;
	color:#fff;
	padding-top: 10px;
}
.footer-menu li a:hover{
	color: #007bff;
}
.footer-social{
	text-align: center;
}
.footer-social a {
	
	color:  rgb(209 168 108);
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50% ;
	text-shadow:1px 1px 2px rgba(0,0,0,0.5);
	font-size: 16px;
	transition: 0.5s all;
	margin: 0 10px;

}
.footer-social a:hover{
	
	color:  rgb(234 142 13);
}
         
         